/** override any bootstrap defaults here **/

@import 'fonts';
@import 'variables';


/***** main styles ****/

body{
  -webkit-font-smoothing: antialiased;
}


#mobile-header {
	#logo{
		padding-top: 5px;
	}

	h1, h3{
		font-family: $roboto;
		font-weight: $light-weight;
		font-size: 30px;
		margin-bottom: 0px;
		color: $ninetyBlack;
	}
	h3{
		font-size: 18px;
	}

	.mobile-nav a{
		font-family: $roboto;
		font-weight: $bold-weight;
		color: $white;
		text-decoration: none;
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#work-link {
		background-color: $green;
	}

	#contact-link {
		background-color: $lightGreen;
	}

	#about-link {
		background-color: $lightestGreen;
	}

}

#reg-header{
	border-bottom: 2px solid $teal; 

	#logo{
		padding-top: 5px;
	}

	h1, h3{
		font-family: $roboto;
		font-weight: $light-weight;
		font-size: 30px;
		margin-bottom: 0px;
		color: $ninetyBlack;
	}
	h3{
		font-size: 18px;
	}

	#reg-nav a{
		font-family: $roboto;
		font-weight: $light-weight;
		color: $teal;
		text-decoration: none;
		font-size: 20px;
	}

	.reg-nav-divder{
		font-family: $roboto;
		font-size: 22px;
		color: $teal;

	}

	#reg-nav a:hover{
		color: $green;
	}
	
}


#quote {
	font-family: $roboto;
	font-weight: $light-weight;
	font-size: 22px;
	color: $teal;
	margin-top: 20px;

	footer {
		font-family: $roboto;
		font-weight: $bold-weight;
		font-size: 18px;
		font-style: italic;
		color: $teal;
	}
}

.section-title {
	border-bottom: 2px solid $teal;	


	h2 {
		font-family: $roboto;
		font-weight: $normal-weight;
		font-size: 28px;
		margin-bottom: 0px;
		color: $teal;
	}

}

.divider-border{
	border-bottom: 1px solid $green;
	margin-top: 20px;
}

.top-link-row{
	margin-top: 30px;
	margin-bottom: 30px;
}

.top-link{
	color: $teal;

	a {
		text-decoration: none;
		display: block;
	}

	i {
		color: $teal;
	}

	span{
		margin-left: 2px;
		font-family: $roboto;
		font-weight: $normal-weight;
	}

}

#resume-download a{
		font-family: $roboto;
		font-weight: $light-weight;
		color: $ninetyBlack;
		text-decoration: none;
		font-style: italic;
}

#resume-download a:hover {
		color: $black;
}


.work-sub-title {

	margin-top:20px;

	h3 {
	font-family: $roboto;
	font-weight: $light-weight;
	color: $teal;
	}

}

.project-details{
	background-color: $teal;
	padding-left:5px;
	color: $white;

	h4{
		display: inline-block;
		font-family: $roboto;
		font-weight: $bold-weight;
		font-size: 18px;
		margin-right: 5px;
		margin-bottom: .25rem;

	}

	h5 {
		font-family: $roboto;
		font-weight: $normal-weight;
		font-size: 14px;
		font-style: italic;
	}

	p{
		font-family: $roboto;
		font-weight: $normal-weight;
		font-size: 14px;
		padding-bottom: 20px;
		padding-top: 10px;
	}
}

#contact-form{
	margin-top: 25px;

	label {
		font-family: $roboto;
		font-weight: $normal-weight;
    	color: $teal;
	}

	.form-control{
		border: 1px solid $teal;
	}	

	.btn-success {
		background-color: $teal;
		border-color: $teal;
	}

	.btn-success:hover {
		background-color: $green;
		border-color: $green;
	}

	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    	color:    $sixtyBlack;
    	font-family: $roboto;
		font-weight: $normal-weight;
	}

	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   		color:    $sixtyBlack;
   		opacity:  1;
   		font-family: $roboto;
		font-weight: $normal-weight;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
   		color:    $sixtyBlack;
   		opacity:  1;
   		font-family: $roboto;
		font-weight: $normal-weight;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
   		color:    $sixtyBlack;
   		font-family: $roboto;
		font-weight: $normal-weight;
	}
	::-ms-input-placeholder { /* Microsoft Edge */
   		color:    $sixtyBlack;
   		font-family: $roboto;
		font-weight: $normal-weight;
	}

	::placeholder { /* Most modern browsers support this now. */
   		color:    $sixtyBlack;
   		font-family: $roboto;
		font-weight: $normal-weight;
	}

	.text-muted{
		margin-top:10px;
	}
}


#about-copy p{
	font-family: $roboto;
	font-weight: $normal-weight;
	font-size: 14px;
	margin-top: 25px;
	color: $ninetyBlack;

}

#about-copy p:last-child{
	margin-top: 0px;
}

#footer {
	
	background-color: $green;
	background-image: url('../images/pattern.png');
	border-top: 2px solid $teal;
	font-family: $roboto;
	font-size: 10px;
	color: $white;


	#copywrite{
		margin-top: 40px;
	}

}

.ekko-lightbox-nav-overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
  }

  .ekko-lightbox-nav-overlay a {
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    transition: opacity .5s;
    color: #fff;
    font-size: 30px;
    z-index: 1;
}

.ekko-lightbox-nav-overlay a span {
    padding: 0 30px;
}

.ekko-lightbox-nav-overlay a>* {
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.ekko-lightbox a:hover {
    opacity: 1;
    text-decoration: none;
}

.ekko-lightbox-nav-overlay a:last-child span {
    text-align: right;
}