body{
	background-color: black;
}

#container{
	width: 320px;
	height: 480px;
	position: relative;
    overflow:hidden;
	/*cursor:pointer;*/
	border:1px solid #000;
	box-sizing: border-box;
	background-color: #efefef;
	margin: 25% auto;
}

#bg-clickout {
	width: 320px;
	height: 480px;
	position: absolute;
	top: 0px;
	left: 0px;
	cursor:pointer;
	z-index: 300;
	/*for IE 10 */
	background-color: #fff;
	opacity: 0; 
}

#preload {
	position: absolute;
	left: -1000px; /*position offscreen*/
	width:  35px
	height: 96px;
}

#photo{
	background: url(main_image.jpg) no-repeat 0 0;
	position: absolute;
	width: 320px;
	height: 430px;
	opacity: 1;
}

#gif-animation {
	position: absolute;
	width: 35px;
	height: 96px;
	left: 62px;
	top: 234px;
}

#footer-bar {
	position: absolute;
	width: 320px;
	height: 96px;
	bottom: 0px;
	z-index: 200;
	background-color: #efefef;
}

/*#comp{
	position: absolute;
	background: url(backup.jpg) no-repeat 0 0;
	width: 768px;
	height: 1024px;
	top: 0px;
	left: 0px;
	z-index: 201;

}*/

#lincoln-logo, #title, #copy1, #copy2, #button, #button_over {
	position: absolute;
	background: url(assets.png) no-repeat;
}

#title {
	background-position: -5px -5px;
	width: 258px;
	height: 47px;
	/*top: 51px;*/
	top: 61px;
	left: 35px;	
	opacity: 0;
	
}

#horizontal-line {
	position: absolute;
	background-color: #fff;
	top: 111px;
	left: 131px;
	width: 57px;
	height: 1px;
	opacity: 1;
	display: none;
}

#line-decoration{
	position: absolute;
	background-color: #fff;
	top: 109px;
	left: 158px;
	width: 1px;
	height: 5px;
	opacity: 0;	
}

#copy1 {
	background-position: -22px -60px;
	width: 206px;
	height: 8px;
	/*top: 132px;*/
	top: 142px;
	left: 60px;
	opacity: 0;	
}

#copy2 {
	background-position: -5px -74px;
	width: 240px;
	height: 8px;
	/*top: 146px;*/
	top: 156px;
	left: 43px;
	opacity: 0;

}


#lincoln-logo {
	background-position: -5px -90px;
	width: 150px;
	height: 25px;
	top: 420px;
	left: 25px;
	z-index: 201;
}


#button {
	background-position: -5px -120px;
	width: 111px;
	height: 28px;
	top: 418px;
	left: 186px;
	z-index: 300;
	opacity: 1;
}

#button_over {
	top: 0px;
	left: 0px;
	background-position: -5px -155px;
	width: 111px;
	height: 28px;
	opacity: 0;	
}
